@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.smooth-scroll {
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes pop {
  from {
    transform: translate(-50%, 10px) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0px) scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: pop 0.25s ease-out forwards;
}
